$primary-color:#232323;
$secondary-color:#303030;
$accent-color:#191919;
$accent-color-no-sharp:191919;
$header-color:#121212;
$primary-button-color:#501010;
$primary-button-color_hover: #6f1818;
$fail-color: #742c2c;
$normal-color: #3451af;
$success-color: green;
