* {
  box-sizing: border-box;
}

.main-container {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.character-title {
  width: 70%;
  height: 150px;
  background-image: url(./pieces/title-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-left: 15%;
}
.ins-prof-container {
  height: 150px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.attribute-container {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
  background-image: url(./pieces/attribute-bar-background.svg);
}
.second-bar-container {
  width: 300px;
  height: 780px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.third-bar-container {
  width: 300px;
  height: 780px;
  margin-left: 5px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ac-inv-spd-container {
  width: 300px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  background-image: url(./pieces/top-info-bar-background.svg);
}
.third-bar-container .rest-container {
  width: 300px;
  height: calc(780px - 220px);
}
.passive {
  width: 240px;
  height: 35px;
  background-image: url(./pieces/passive-border.svg);
  background-size: contain;
  display: flex;
  flex-direction: row;
}
.passive .value {
  flex: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.passive .text {
  flex: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.armor-class {
  width: 82px;
  height: 95px;
  background-image: url(./pieces/armor-class-border.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}

.attribute {
  width: 100px;
  height: 118px;
  background-image: url(./pieces/attribute-border.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2px;
}

.attribute * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribute .title {
  flex: 18%;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.attribute .bonus {
  flex: 50%;
  font-size: 44px;
  border: 1px solid red;
  border-bottom-style: none;
  border-radius: 8px;
  padding: 0 6px;
  cursor: pointer;
}

.attribute .base {
  flex: 32%;
  font-size: 23px;
}

.inspiration {
  width: 240px;
  height: 60px;
  display: flex;
  background-image: url("./pieces/inspiration-bar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: row;
}

.inspiration .value {
  flex: 25%;
  cursor: pointer;
}

.inspiration .value.checked {
  background-image: url("./pieces/check-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 55%;
  margin-bottom: 8px;
}

.inspiration .text {
  flex: 75%;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 4px;
}

.proficiency {
  width: 200px;
  height: 60px;
  display: flex;
  background-image: url("./pieces/proficency-bar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: row;
  line-height: 24px;
}

.proficiency .value {
  flex: 25%;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.proficiency .text {
  flex: 75%;
  text-indent: 25px;
  font-size: 24px;
  font-weight: bold;
}

.ins-spd-border {
  background-image: url("./pieces/ins-sp-border.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ins-spd-border .value {
  flex: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-weight: bold;
  padding-top: 10px;
}

.ins-spd-border .title {
  font-weight: bold;
  flex: 25%;
  font-size: 12px;
}

.saving-throw-container-wrapper {
  width: fit-content;
}

.saving-throw-container {
  background-image: url("./pieces/saving-throw-border.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.saving-throw-line {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin-left: 5%;
}

.saving-throw-line .skill-proficiency {
  display: flex;
  justify-content: center;
  flex: 1;
}

.saving-throw-line .skill-proficiency * {
  width: 18px;
  height: 18px;
}

.saving-throw-line .skill-proficiency .none {
  border: 1px solid black;
  border-radius: 50%;
}

.saving-throw-line .skill-proficiency .half {
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(45deg, black 50%, white 50%);
}

.saving-throw-line .skill-proficiency .full {
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

.saving-throw-line .modifier {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  flex: 2;
  background: lightgray;
  padding: 1px;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.saving-throw-line .title {
  font-size: 2ch;
  font-weight: bolder;
  flex: 8;
  margin-left: 10px;
}

.skill-container-wrapper {
  width: fit-content;
}

.skill-container {
  background-image: url("./pieces/skill-border.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 500px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.skill-line {
  display: flex;
  margin-bottom: 5px;
  margin-left: 2%;
}

.skill-line .skill-proficiency {
  display: flex;
  justify-content: center;
  flex: 1;
}

.skill-line .skill-proficiency * {
  width: 18px;
  height: 18px;
}

.skill-line .skill-proficiency .none {
  border: 1px solid black;
  border-radius: 50%;
}

.skill-line .skill-proficiency .half {
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(45deg, black 50%, white 50%);
}

.skill-line .skill-proficiency .full {
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

.skill-line .modifier {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  flex: 1;
  background: lightgray;
  padding: 1px;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.skill-line .title {
  font-size: 1.5ch;
  font-weight: bolder;
  flex: 8;
  text-indent: 5px;
  display: flex;
  align-items: center;
}
