@import "../../constants";

:root {
  --diceIndex: -15;
}

.dice-table {
  position: absolute;
  left: 0px;
  top: $header-height;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  z-index: var(--diceIndex);
}
