.roll-menu-base, .roll-fab, .roll-menu-container_die-fab, .roll-menu-container, .roll-fab-action-button {
  position: absolute;
  z-index: 2;
  left: 15px;
  bottom: 15px;
  user-select: none; }

.roll-fab, .roll-menu-container_die-fab {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #973c3c;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0L0 7.5v15.2l14 7.5 13-7 1-.6V7.5L14 0zm-2 8.3l-5.9 8.8-3.7-8 9.6-.8zM8 18l6-9.1 6 9.1H8zm13.8-.9L16 8.3l9.5.7-3.7 8.1zM15 2.8l7.4 4-7.4-.6V2.8zm-2 0v3.4l-7.4.6 7.4-4zm-11 10l2.7 6L2 20.4v-7.6zm1 9.3l2.7-1.6 4.4 5.5L3 22.1zM8 20h11l-5 7.5L8 20zm9.9 5.9l4.4-5.5L25 22l-7.1 3.9zm5.6-7l-.2-.1 2.7-6v7.6l-2.5-1.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer; }

.roll-menu-container {
  bottom: 30px + 60px();
  width: 60px;
  height: 0;
  display: flex;
  flex-direction: column-reverse; }
  .roll-menu-container_die-fab {
    position: relative;
    left: 0;
    margin-top: 12px;
    background-color: #191919; }
    .roll-menu-container_die-fab:hover {
      background-color: rgba(25, 25, 25, 0.2);
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75); }
    .roll-menu-container_die-fab_count {
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 26px;
      background-color: red;
      color: white;
      top: -2px;
      right: calc(26px / -4);
      text-align: center;
      line-height: 26px;
      font-size: 18px;
      font-weight: 700;
      z-index: 3; }
    .roll-menu-container_die-fab_bubble {
      position: absolute;
      width: 50px;
      height: 30px;
      right: calc(26px * -2);
      top: calc(26px / 2);
      background-color: white;
      color: black;
      z-index: 2;
      text-align: center;
      line-height: 30px; }
      .roll-menu-container_die-fab_bubble_pip {
        width: 8px;
        height: 8px;
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        left: -4px;
        top: 50%; }
  .roll-menu-container .d4 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='31' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 2L2 25.5h22.5M14.5 2l10 23.5M14.5 2l15 11-5 12.5' stroke='%23fff' stroke-width='1.75'/%3E%3C/svg%3E"); }
  .roll-menu-container .d6 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='27' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.978h17.602M1 6.978L10.444 1H26M1 6.978V26h17.602m0-19.022L26 1m-7.398 5.978V26M26 1v17.391L18.602 26' stroke='%23fff' stroke-width='1.75'/%3E%3C/svg%3E"); }
  .roll-menu-container .d8 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='26' height='31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L0 8v13l13 10 13-10V8L13 0zm11 15.9L17 4.5 24 9v6.9zM13 2l.1.1L24.2 20H1.8L12.9 2.1 13 2zM9 4.5L2 15.9V9l7-4.5zM3.9 22h18.2L13 28.5 3.9 22z'/%3E%3C/svg%3E"); }
  .roll-menu-container .d10 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='29' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0L0 12l1 6 15 11 15-11 1-6L16 0zm13.7 12.8l-.5 3.2-3.5-1.7-5.4-9 9.4 7.5zM15 19.6v6.1l-11.1-8L7 16.1l8 3.5zm2 0l8-3.5 3.1 1.6L17 25.8v-6.2zm6.6-5.1L16 17.9l-7.6-3.4L16 2.9l7.6 11.6zM2.3 12.8l9.4-7.5-5.4 9L2.8 16l-.5-3.2z'/%3E%3C/svg%3E"); }
  .roll-menu-container .d12 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='32' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 4L15 0 5 4l-5 7v10l6 7 9 4 9-4 6-7V11l-5-7zM2 11.9L6 14l3.7 8.2-3.4 3.4L2 21v-9.1zM12 22l-3.7-7.2L15 9.2l6.7 5.5L18 22h-6zm16-1l-4.3 4.7-3.4-3.4L24 14l4-2.1V21zM16 2.2l7.8 3.6L27 10l-4.5 2.6L16 7.5V2.2zM6.2 5.8L14 2.2v5.2l-6.5 5.1-.5-.1L3 10l3.2-4.2zm2.1 21l3-3h7.5l3 3L15 30l-6.7-3.2z'/%3E%3C/svg%3E"); }
  .roll-menu-container .d20 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0L0 7.5v15.2l14 7.5 13-7 1-.6V7.5L14 0zm-2 8.3l-5.9 8.8-3.7-8 9.6-.8zM8 18l6-9.1 6 9.1H8zm13.8-.9L16 8.3l9.5.7-3.7 8.1zM15 2.8l7.4 4-7.4-.6V2.8zm-2 0v3.4l-7.4.6 7.4-4zm-11 10l2.7 6L2 20.4v-7.6zm1 9.3l2.7-1.6 4.4 5.5L3 22.1zM8 20h11l-5 7.5L8 20zm9.9 5.9l4.4-5.5L25 22l-7.1 3.9zm5.6-7l-.2-.1 2.7-6v7.6l-2.5-1.5z'/%3E%3C/svg%3E"); }

.roll-fab-action-button {
  background-color: rgba(151, 60, 60, 0.7);
  width: 200px;
  height: calc(60px + 5px);
  border-radius: 45px;
  z-index: 0;
  left: 12.5px;
  bottom: 12.5px;
  line-height: calc(60px + 5px);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer; }
  .roll-fab-action-button:hover {
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(151, 60, 60, 0.4); }

.hidden {
  height: 0;
  transition: height .3s ease-out; }

.openning {
  height: 450px;
  transition: height .3s ease-in; }

.d-none {
  display: none; }

.close {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8h-6V2a1 1 0 10-2 0v6H2a1 1 0 100 2h6v6a1 1 0 102 0v-6h6a1 1 0 100-2z' fill='%23BFCCD6'/%3E%3C/svg%3E");
  transform: rotate(45deg); }
